<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>m9PortFO</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./certifications.html" title="" >001</a></li>
            <!--<li><a href="./certifications2.html" title="">002</a></li>
            <li><a href="./certifications3.html" title="">003</a></li>
            <li><a href="./index.html" title="">004</a></li>
            <li><a href="./index.html" title="">005</a></li>
            <li><a href="./index.html" title="">006</a></li>-->
          </ul>


      </div>
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
              <h1 class="h2">001: Certifications</h1>
          </div>
          <p>
            I have done 3 certifications, 2 from online & 1 from offline classroom certification.
            </p>
          <p>
            The <b>offline certification</b> has covered <b>fundamentals & oops concepts using Java</b>. It has covered most of the part of <b>J2EE, Database connectivity using Hibernate framework & concepts of ORM</b>. It has covered <b>Hibernate using Annotations & XML file mappings</b>.
           </p>

          <p>Lets continue to the 2 Online certifications Which I have learned from Udemy by <b>Zero To Mastery Academy</b>. They have mostly focused on <b>Python programming</b> along with <b>Machine Learning & Data Science using Python</b>. I have done with the Python Deveploper course. It comprises of basic fundamentals & oops concepts using python. I have learned basic web scraping,<b> Flask Framework</b>, Libraries like <b>Pandas, NumPy, scikit-learn & Matplotlib</b>. I have used <b>Kaggle</b> to get dataset for learning data science. I have made projects which have been taught in that course as this <b>Website Hosting</b> is the part of the course too. Similarly using <b>Selenium Drive</b>  I have learned automated testing in Python.
            Whatever I have learned have updated on my GitHub repository.
            The second course mostly focused on Machine learning & Data Science in detail. I have learned <b>Tensorflow 2.0, Data Visualization in Python with MatPlotLib and Seaborn, Transfer Learning, Image recognition and classification, Train/Test and cross validation,</b> Supervised Learning: <b>Classification, Regression and Time Series,</b>
          <b>Decision Trees and Random Forests, Ensemble Learning, Hyperparameter Tunining,</b>Use Pandas to <b>handle CSV Files, Deep Learning / Neural Networks with TensorFlow 2.0 and Keras, K Nearest Neighbours</b>, Support Vector Machines & Regression analysis <b>(Linear Regression/Polynomial Regression)</b></p>
          <p>I enjoyed the whole learning process!! I have handled developer's environment like <b>Jupyter Notebook, PyCharm IDE, Sublime Text etc</b>. I have basic understanding of how <b> Hadoop</b> works along with <b>Google Colab.</b></p>
          <p>Now, I am just waiting to apply these skills that I have learned!!</p>
          <p>
          <ul><center>
          <b><h3>Certification's Names:</h3></b></center>
            <ol>1. Offline Certificate: Java & Hibernate Framework by QuickXpert Infotech</ol>
            <ol>2. Online Certificates:
                <ol>2.1 : Complete Python Developer by Zero To Mastery Academy</ol>
                  <ol>2.2 : Complete Machine Learning & Data Science by Zero To Mastery</ol>
            </ol>
        </ul></p>


        </div>
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>